a
{
padding:5px;
font-familiy:"Times new roman";
font-size:20px;
border:solid 2px black;
color:black;
text-decoration:none;
}
body
{background-color:skyblue;
background-image:url('51.png');
background-repeat:no-repeat;
background-position:0px 0px;
background-size:100px 30 px;
background-size:cover;
}

ul
{
margin:30px;
padding:10px;
list-style:none;
}

ul li
{
float:left;
width:310px;
height:40px;
background-size:cover;
opacity:.7;
}

li:hover
{
font-size:24;
}

tr:hover
{
cursor:pointer;
font-size:30;
border:2 solid blue;
background-color:pink;
}

.login1
{
width:30px;
height:30px;
color:#fff;
top:75;
left:1200;
position:absolute;

}


input[type=submit]
{
font-size:20;
font-family:cursive;
cursor:pointer;
border-radius:15px;
}

input[type=submit]:hover
{
cursor:pointer;
background-color:pink;
font-size:24;
}

.login2
{
width:70px;
height:70px;
color:#fff;

top:270;
left:250;
position:absolute;

}
